<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul><li>
            <a href="/">home</a>
            <a href="/pembeli">pembeli</a>
            <a href="/barang">barang</a>
        </li></ul>
    </nav>
    <h1>halaman utama</h1>
</body>
</html>